:root {
  /*Fonts*/
  --ff-main-font: "Open Sans", sans-serif;
  --ff-title-font: "Raleway", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fz-regular: 1rem;

  /*Colors*/
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;

  /*Others*/
  --desktop-page-width: 1352px;
}

/*General styles*/
* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main-font);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}

.container {
  width: var(--desktop-page-width);
  margin: 0 auto;
}

.container--flex {
  display: flex;
}
.container--horizontal {
  justify-content: space-between;
  align-items: center;
}

.container--vertical {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 35px;
  font-family: var(--ff-main-font);
  text-decoration: none;
  color: var(--color-white);
  font-size: 0.8125rem;
  font-weight: var(--fw-bold);
}

.button--hero {
  width: 440px;
  height: 67px;
  font-size: 1rem;
}

.button--contact {
  width: 226px;
  height: 57px;
}

.button--primary {
  background-color: var(--color-primary);
  box-shadow: 0 10px 14px var(--color-primary-shadow);
}

.button--professional {
  width: 165px;
  box-shadow: 0 10px 14px var(--color-primary-shadow);
}

.button--basic {
  background-color: var(--color-redish);
}

.button--premium {
  background-color: var(--color-green);
}

/*Header [Logo + Navigation]*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70px;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__logo {
  display: flex;
  font-family: var(--ff-title-font);
  font-weight: var(--fw-light);
  font-size: 2em;
  color: var(--color-primary);
  text-decoration: none;
}

.header__menu {
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 80px;
}

.menu__item {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 70px;
    font-weight: var(--fw-bold);
    font-size: 0.6875rem;
    letter-spacing: 0.1875rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: 0.4s;
    &:hover {
      color: var(--color-black);
      border-bottom: 4px solid var(--color-primary);
    }
  }
}

/*Hero Section*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--ff-title-font);
  font-weight: var(--fw-regular);
  font-size: 3.0625rem;
}

.hero__motto {
  margin-bottom: 38px;
}

.hero__bg-image {
  width: 100%;
  height: auto;
}

/*Statistics section*/
.statistics {
  margin: 0 auto;
  padding: 100px 0 120px;
  width: 100%;
}

.statistics__title {
  margin-bottom: 100px;
  font-family: var(--ff-title-font);
  font-weight: var(--fw-regular);
  font-size: 2.25rem;
  text-align: center;
  color: var(--color-black);
}

.statistics__list {
  display: flex;
  justify-content: center;
  gap: 223px;
}

.statistics__item {
  /*max-width: 8rem;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__item-image {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--color-light-grey);
  display: flex;
  align-items: center;
  img {
    width: 80%;
    height: 80%;
    position: relative;
    right: -30px;
  }
}

.item-image--decoration-red {
  background-color: var(--color-redish);
}

.item-image--decoration-blue {
  background-color: var(--color-primary);
}

.item-image--decoration-green {
  background-color: var(--color-green);
}

.statistics__item-count,
.statistics__item-description {
  font-family: var(--ff-title-font);
}

.statistics__item-count {
  font-weight: var(--fw-extra-bold);
  font-size: 20px;
  color: var(--color-black);
  letter-spacing: 6px;
  padding: 15px 0;
  text-align: center;
  line-height: 24px;
}

.statistics__item-description {
  font-weight: var(--fw-regular);
  color: var(--color-grey);
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 89px;
  background-color: var(--color-light-grey);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.16);
  /*border-bottom: 1px solid var(--color-grey);*/
}

.footer__right-part {
  display: flex;
  gap: 20px;
}

.footer__logo-small {
  display: inline-flex;
  margin-bottom: 7px;
  font-family: var(--ff-title-font);
  font-weight: var(--fw-light);
  font-size: 1.625rem;
  text-decoration: none;
  color: var(--color-primary);
}

.footer__copyright {
  font-size: 0.6875rem;
  color: var(--color-grey);
}
